DirectoryIndex index.php

Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule (^|/)\. - [F,L]
    RewriteRule ^(app|config|database|routes|scripts|storage|tmp)(/|$) - [F,L]
    RewriteRule ^(README|LICENSE)(\.md)?$ - [F,L]
    RewriteRule \.(env|example|sql|log|bak|backup|old|orig|ini|conf|json|lock|yml|yaml|sh|py|gs)$ - [F,L]

    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    RewriteRule ^ index.php [L]
</IfModule>

<FilesMatch "^(\.env|\.git|\.gitignore|README\.md|LICENSE|composer\.(json|lock)|package(-lock)?\.json)$">
    Require all denied
</FilesMatch>
